NEXT_PUBLIC_FRONTEND_API=
# NEXT_PUBLIC_FRONTEND_API=
# NEXT_PUBLIC_FRONTEND_API=http://localhost:3000
# NEXT_PUBLIC_BACKEND_API=
NEXT_PUBLIC_BACKEND_API=
NEXT_PUBLIC_GOOGLE_MAP_API=
NEXT_PUBLIC_GOOGLE_MAP_ID=
NEXT_PUBLIC_GOOGLE_MAP_Reduce_ID=

SAPLING_PRIVATE_KEY=
NEXT_PUBLIC_SAPLING_KEY=
NEXT_PUBLIC_CKEDITOR5_LICENSE_KEY=
NODE_ENV=

# PORT=
# PORT=
