/* projects table */
.mainContent {
  margin-left: 60px; /* Collapsed sidenav width */
  transition: margin-left 0.3s ease, width 0.3s ease; /* Smooth transition */
  width: calc(100% - 60px); /* Adjust width when collapsed */
}

.shiftRight {
  margin-left: 350px; /* Expanded sidenav width */
  width: calc(100% - 350px); /* Adjust width when expanded */
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px; /* Collapsed width */
  background-color: #111;
  overflow-x: hidden;
  transition: width 0.3s ease; /* Smooth transition */
  padding-top: 10px;
  border-radius: 10px;
  margin-top: 4px;
  margin-left: 2px;
}

.sidenav.expanded {
  width: 350px; /* Expanded width */
}

/* side nav */
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px; /* Collapsed width */
  background: #cfe6f8;
  overflow-x: hidden;
  transition: width 0.3s ease; /* Smooth transition */
  padding-top: 10px;
}

.sidenav.expanded {
  width: 350px; /* Expanded width */
}

.sidenav .btn {
  width: 100%;
  text-align: center;
}

.sidenav .nav-link {
  padding: 10px 15px;
  display: block;
  text-align: left;
  transition: all 0.2s ease;
}

.sidenav .nav-link:hover {
  background-color: #575757;
  color: white;
}

/* Date Range */
.customDateRange {
  width: 300px; /* Set desired width */
}

.customDateRange .rdrCalendarWrapper {
  width: 300px; /* Adjust calendar container width */
}

.customDateRange .rdrMonths {
  width: 300px; /* Adjust calendar months section */
}

.customDateRange .rdrMonth {
  min-width: 280px; /* Adjust individual month width */
}
