/* projects table */
.mainContent {
  margin-left: 74.3px; /* Collapsed sidenav width */
  transition: margin-left 0.3s ease, width 0.3s ease; /* Smooth transition */
  width: calc(100% - 74.3px); /* Adjust width when collapsed */
}

.shiftRight {
  margin-left: 400px; /* Expanded sidenav width */
  width: calc(100% - 400px); /* Adjust width when expanded */
}

/* .sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 74.3px; 
  background-color: #111;
  overflow-x: hidden;
  transition: width 0.3s ease; 
  padding: 22.8px 14.86px;
  border-radius: 10px;
  margin-top: 4px;
  margin-left: 2px;
} */

.sidenav.expanded {
  width: 400px; /* Expanded width */
}

/* side nav */
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 74.3px; /* Collapsed width */
  background: #f8fafc;
  overflow-x: hidden;
  transition: width 0.3s ease; /* Smooth transition */
  padding: 22.8px 14.86px;
  border-top-left-radius: 13.93px;
  border-bottom-left-radius: 13.93px;
}

.sidenav.expanded {
  width: 400px; /* Expanded width */
}

.sidenav .btn {
  width: 100%;
  text-align: center;
}

.sidenav .nav-link {
  padding: 10px 15px;
  display: block;
  text-align: left;
  transition: all 0.2s ease;
}

.sidenav .nav-link:hover {
  background-color: #575757;
  color: white;
}

/* Date Range */
/* .customDateRange { */
/* Set desired width */
/* width: 300px; */
/* } */

/* .customDateRange .rdrCalendarWrapper { */
/* Adjust calendar container width */
/* width: 300px; */
/* } */

/* .customDateRange .rdrMonths { */
/* Adjust calendar months section */
/* width: 300px; */
/* } */

/* .customDateRange .rdrMonth { */
/* Adjust individual month width */
/* min-width: 280px; */
/* } */
