.bg-color-blue {
  background: #0c8ce9 !important;
}

.color-dark-blue {
  color: #108fa8 !important;
}

.bg-color-light-blue {
  background: #72b8ea !important;
}

.bg-color-sea-green {
  background: #108fa8 !important;
}

.bg-transparent {
  background: rgba(255, 255, 255, 0) !important;
}

.custom-modal .modal-content {
  background: rgba(255, 255, 255, 0) !important;
  border: none;
}

body {
  background-image: url("../public/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-blur {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

/* Chrome, Safari, Edge, Opera */
.sortId::-webkit-outer-spin-button,
.sortId::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.sortId[type="number"] {
  -moz-appearance: textfield;
}

.cursor-pointer {
  cursor: pointer;
}

input[type="text"] {
  font-size: 0.8rem;
  padding: 10px;
  color: #7e7e7e !important;
}

input[type="password"] {
  font-size: 0.8rem;
  padding: 10px;
  color: #7e7e7e !important;
}

input[type="number"] {
  font-size: 0.8rem;
  padding: 10px;
  color: #7e7e7e !important;
}
textarea {
  font-size: 0.8rem !important;
  padding: 10px !important;
  color: #7e7e7e !important;
}
select {
  font-size: 0.8rem !important;
  padding: 9px !important;
  color: #7e7e7e !important;
}
