@import "leaflet/dist/leaflet.css";

#map {
  height: 100vh;
  width: 100%;
}

.color-dark-blue {
  color: #108fa8 !important;
}

.color-sea-blue {
  color: #0c8ce9 !important;
}

.bg-color-light-blue {
  background: #72b8ea !important;
}

.bg-color-sea-blue {
  background: #0c8ce9 !important;
}

.bg-color-matte-blue {
  background: #4bacc6 !important;
}

.bg-color-matte-light-blue {
  background: #c6d9f1 !important;
}

.bg-color-sea-green {
  background: #108fa8 !important;
}

.bg-transparent {
  background: rgba(255, 255, 255, 0) !important;
}

.bg-white {
  background: #fff !important;
}

.color-light-dark {
  color: #7e7e7e !important;
}
.bg-silver {
  background: #d9d9d9 !important;
}

.custom-modal .modal-content {
  background: rgba(255, 255, 255, 0) !important;
  border: none;
}

.custom-backdrop {
  opacity: 0 !important;
}

/* body {
  background-image: url("../public/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

.bg-blur {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

/* Chrome, Safari, Edge, Opera */
.sortId::-webkit-outer-spin-button,
.sortId::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.sortId[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.cursor-pointer {
  cursor: pointer;
}

input[type="text"] {
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 5px;
}

input[type="password"] {
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 5px;
}

input[type="number"] {
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 5px;
}
input[type="date"] {
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 5px;
}
textarea {
  font-size: 0.8rem !important;
  padding: 10px !important;
  border-radius: 5px;
}
select {
  font-size: 0.8rem !important;
  padding: 9px !important;
  border-radius: 5px;
}

.fs26px {
  font-size: 1.625rem !important;
}

.fs24px {
  font-size: 1.5rem !important;
}

.fs22px {
  font-size: 1.375rem !important;
}

.fs20px {
  font-size: 1.25rem !important;
}

.fs18px {
  font-size: 1.125rem !important;
}

.fs17px {
  font-size: 1.063rem !important;
}

.fs15px {
  font-size: 0.938rem !important;
}

.fs14px {
  font-size: 0.875rem !important;
}

.fs11px {
  font-size: 0.688rem !important;
}

.fs12px {
  font-size: 0.75rem !important;
}

.fs13px {
  font-size: 0.813rem;
}

.fs10px {
  font-size: 0.625rem;
}

.fs9px {
  font-size: 0.563rem;
}

.fs8px {
  font-size: 0.5rem;
}

.fs7px {
  font-size: 0.438rem;
}

.fw-5 {
  font-weight: 500;
}

.whiteSpaceNoWrap {
  white-space: nowrap;
}

.letterSpacing1px {
  letter-spacing: 1px;
}

/* dashboardThree search input */
.dSearchInput::placeholder {
  color: #1b2559 !important;
  font-weight: 500 !important;
}

.leaflet-popup-content {
  margin: 0 !important;
}

.leaflet-popup-content-wrapper {
  padding: 0 !important;
}

.mapPopup .leaflet-popup-content-wrapper {
  border-radius: 10px !important;
}

.custom-marker {
  display: inline-block;
  transform-origin: center;
  transition: transform 1s ease-in-out; /* Smooth transition over 1 second */
}

.gm-style-iw button.gm-ui-hover-effect {
  display: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #22a3bd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #108fa8;
}

#dateFilterSideNavAccordian .accordion-button {
  background-color: rgba(180, 222, 240, 0.9) !important;
  box-shadow: none;
  padding: 10px;
  font-size: 12.8px;
}

#dateFilterSideNavAccordian .accordion-button:not(.collapsed) {
  background-color: red;
  box-shadow: none;
}
